[defaults]
host_key_checking = False
inventory = inventory/hosts.yml
retry_files_enabled = False
stdout_callback = yaml
deprecation_warnings = False

[persistent_connection]
command_timeout = 60
connect_timeout = 60
